{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-white text-center m-5 text-primary">website founder</h3>
 <div class="row">
<div class="col-sm-6">
<img src="{% static 'myapp/image/sea-7598498.jpg'%}" class="img-fluid" >
</div>
<div class="col-sm-6">

    <p>
        hello am mamta am student of MCADS&AI.am so lucky to have a true friendship, and enjoy every moment,because life will not repeat anything,so collect as many memories you want
    </p>
 </div>
  </div>
</div>
{% endblock content %}
